html, body {
  background-color: #131313;
  height: 100%;
}

.bigPicture {
    height: 90%;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    color: #131313;
    font-size: 500%;
    font-family: 'Karla', sans-serif;
}

.nav{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navName{
    font-size: 140%;
    color: #545454;
}

.navLinks{
  float: right;
}

a{
    color: white;
    margin: 15px;
}


a:link {
  color: white;
  margin: 15px;
  text-decoration: none;
}

a:visited {
  color: white;
  margin: 15px;
  text-decoration: none;
}

a:active {
  color: white;
  margin: 15px;
  text-decoration: none;
}


a:hover {
    color: #c3c3c3;
    text-decoration: none;
}
.subtitle{
  font-size: 50%;
  display: inline;
  font-style: italic;
}
