html, body {
    background-color: #131313;
    height: 100%;
    overflow-x: hidden;
}

.bigPicture {
    height: 90%;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    color: #131313;
    font-size: 500%;
    font-family: 'Karla', sans-serif;

    background-attachment: fixed;
}

.nav {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navName {
    font-size: 140%;
    color: #545454;
}

.navLinks {
    float: right;
}

a {
    color: white;
}

.navLinks a{

  margin: 15px;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c3c3c3;
    text-decoration: none;
}

.subtitle {
    font-size: 50%;
    display: inline;
    font-style: italic;
}

.tile {
    padding-top: 100px;
    color: #c3c3c3;
}

.circle-img {
    border-radius: 50%;
    width: 20vh;
    height: auto;
}

footer {
    margin-top: 100px;
    color: #c3c3c3;
    padding-top: 20px;
    padding-bottom: 20px;

    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
